/* media query */

@media (max-width: 992px) {
    .banner-content {
        padding: 100px 0;
        text-align: center;
        height: initial;
    }
    .banner-content .animated {
        -webkit-animation: none;
        animation: none;
    }
    .banner-content .banner-content-img {
        text-align: center;
    }
    .banner-content .banner-content-img img {
        width: 50%;
    }
    .about .container {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .banner-content h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .banner-content .banner-content-img img {
        width: 70%;
    }
    .started-btn {
        margin: 0 48px 0 0;
    }
    .review .testimonial-wrap {
        padding-left: 0;
    }
    .review .review-item {
        padding: 30px;
        margin: 15px;
    }
    .review .review-item .review-img {
        position: static;
        left: auto;
    }
    .footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .copyright,
    .footer .credits {
        text-align: center;
        float: none;
    }
    .footer .credits {
        padding-top: 4px;
    }
}

@media (max-width: 575px) {
    .banner-content .banner-content-img img {
        width: 80%;
    }
    .banner-content .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
    .banner-content .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }
    .banner-content .btn-watch-video i {
        font-size: 32px;
        top: 7px;
    }
    .about .content h3 {
        font-size: 22px;
    }
    .about .content ul li {
        font-size: 18px;
    }
    .feature-section img {
        height: 150px;
        border-radius: 10px;
    }
    .feature-section .card-div {
        justify-content: space-around;
    }
    .feature-section .card-div .content h4 {
        font-size: 18px;
    }
    .feature-section .card-div .content li {
        font-size: 14px;
    }
    .contact-form .form-inner h4 {
        font-size: 16px;
    }
    .contact-form-inner p {
        font-size: 15px;
    }
}